@charset "UTF-8";
/*s
body {
    margin: 0;
    padding: 0;
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    height: 70px;
    background-color: #eae5e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;

}

nav ul li a {
    text-decoration: none;
    padding: 20px;
}
*/